# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile

{{ server_hostname }}:80 {
	respond <<TEXT
		Welcome {{ server_hostname }}
		TEXT 200
}

import sites-enabled/*
