@import "./vars.css";
@import "./tailwind.css";
@import "./fontello/fontello.css";
@import "./prose.css";

@keyframes slide-logos {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-33.33%);
  }
}

@keyframes mountain {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(0);
  }
}
