@import "./vars.css";
@import "./tailwind.css";
@import "./fontello/fontello.css";
@import "./prose.css";

@keyframes slide-logos {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-33.33%);
  }
}

@keyframes translate-y {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes rotate-invert {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(0);
  }
}

@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 7.5deg);
  }

  40% {
    transform: rotate3d(0, 0, 1, -5deg);
  }

  60% {
    transform: rotate3d(0, 0, 1, 2.5deg);
  }

  80% {
    transform: rotate3d(0, 0, 1, -2.5deg);
  }

  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes short-pulse {
  from {
    transform: scale3d(1, 1, 1);
  }
  25% {
    transform: scale3d(1.025, 1.025, 1.025);
  }

  50% {
    transform: scale3d(1, 1, 1);
  }

  75% {
    transform: scale3d(1.025, 1.025, 1.025);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
