@tailwind base;
@tailwind components;
@tailwind utilities;

.big-title {
  @apply inline-block bg-gradient-to-r font-segoe-bl text-6xl;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.grid-cols-auto {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

svg {
  max-width: 100%;
  height: auto;
}
